anonymous_enable={{ anonymous_enable }}
local_enable={{ local_enable }}
write_enable={{ write_enable }}
local_umask={{ local_umask }}
anon_umask={{ anon_umask }}
anon_upload_enable={{ anon_upload_enable }}
dirmessage_enable={{ dirmessage_enable }}
xferlog_enable={{ xferlog_enable }}
connect_from_port_20={{ connect_from_port_20 }}
xferlog_std_format={{ xferlog_std_format }}
listen={{ listen }}
listen_ipv6={{ listen_ipv6 }}
pam_service_name={{ pam_service_name }}
userlist_enable={{ userlist_enable }}